@import url("https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Inika:wght@400;700&display=swap");
body {
  background-color: #00bfb2;
  color: #f0f3bd;
  font-family: 'Cabin', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inika', serif; }

div.title {
  display: flex; }
  div.title img {
    margin: auto; }

p {
  text-align: center; }
